.App {
    text-align: center;
}

.test-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(178, 179, 152);
}

.red {
    color: red;
}

.tabs-wrapper{
  width: 600px;
  font-family:  "Verdana", sans-serif;
  font-size: 20px;
}

.App .custom-tab  {
    font-family:  "Arial", sans-serif;
    white-space: nowrap;
    font-size: 1.8 rem;
    background-color: rgb(248, 214, 161);
    padding: 13px 20px;
    border-radius: 30px;
    border: 1px solid rgb(201, 169, 118);
    min-width: 150px;
}
.App .custom-list  {
    flex-grow: unset;
}

.App .custom-tab-box {
    gap: 12px;
}

/* .App .custom-tab:hover {
    background-color: #c0f0c0;
} */