.App {
    text-align: center;
}

.test-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(178, 179, 152);
}

.red {
    color: red;
}

.tabs-wrapper{
  width: 600px;
  font-family:  "Verdana", sans-serif;
  font-size: 20px;
}

.App .custom-tab  {
    font-family:  "Arial", sans-serif;
    font-size: 15px;
    background-color: rgb(234, 198, 231);
    min-width: 150px;
}
.App .custom-list  {
    flex-grow: unset;
}

/* .App .custom-tab:hover {
    background-color: #c0f0c0;
} */